{%extends 'recipes/base.html'%}
{%block content%}
<h1 class="mx-auto" style="width: 1210px; ">Контактная информация</h1>
<p class="mx-auto" style="width: 1210px; margin-top: 2.5em;">Адрес редакции: Мой адрес не дом и не улица, мой адрес Советский Союз!</p>

<p class="mx-auto" style="width: 1210px;">Телефон редакции: 8-(800)-555-35-35</p>

<p class="mx-auto" style="width: 1210px;">E-mail: vovaloh@egorvovov.rksi</p>

<p class="mx-auto" style="width: 1210px;">Кулинарная сайт "TasteLand": 8-(800)-555-35-35</p>

<p class="mx-auto" style="width: 1210px;">E-mail: info@egorvovov.rksi</p>


{%endblock%}